body {
    margin: 0;
    padding: 0;
}

body * {
    font-family: Arial, Helvetica, sans-serif;
}

.btn-secondary {
    --bs-btn-color: #000;
    --bs-btn-bg: #c7cdd1;
    --bs-btn-border-color: #c7cdd1;
    --bs-btn-hover-color: #fff;
}

.bg-secondary {
    background-color: #c7cdd1 !important;
}

.border-gray {
    border: 1px solid gray;
}